/* Center the entire page vertically and horizontally */
.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: auto;
    /* Full viewport height */
    padding: 20px;
}

/* Form styling */
.form {
    max-width: 300px;
    width: 100%;
    padding: 20px;
    border: 1px solid #ccc;
    border-radius: 8px;
    background-color: #f9f9f9;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

/* Input fields and buttons */
.inputGroup {
    margin-bottom: 15px;
    margin-right: 20px;
    text-align: left;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
    border-radius: 4px;
    border: 1px solid #ccc;
}

.button {
    padding: 10px;
    background-color: #4caf50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.button:hover {
    background-color: #45a049;
}

.error {
    color: red;
    font-size: 0.8em;
    margin-top: 5px;
}

.link-container {
    margin-top: 20px;
    font-size: 0.9em;
    color: #333;
}

.signup-link {
    color: rgb(242, 125, 0);
    text-decoration: none;
    font-weight: bold;
}

.signup-link:hover {
    text-decoration: underline;
}